[Unit]
Description=nwall downmask server
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/env /usr/local/bin/nwall downmask serve
Restart=on-failure
RestartSec=2s

[Install]
WantedBy=multi-user.target
